.DS_Store
*.xcuserstate
xcuserdata/**/*
!xcuserdata/**/xcschemes/*
SKInvaders/SKInvaders.xcodeproj/xcuserdata/katiamaeda.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MyPlayground.playground/timeline.xctimeline
